* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(0.25turn, #0007DB, #0CACF2, #0007DB, #0CACF2);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-mp4: url("../assets/clouds_movie.mp4");
}

.bg_video{
  position: fixed; 
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto; 
  z-index: -1000;
}

.header-container {
    gap: 1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    min-width: 100%;
    margin: 1rem;
    position: relative;
}

.header-container .header-padding .titulo {
  text-align: center;
}

.titulo {
  margin-top: 20px;
  text-align: center;
  font-size: 2.7em;
  font-weight: 900;
}

@media (min-width: 428px) {
  .header-div {
    font-size: 1em;
    font-weight: 100em;
  }
}

.header-container .header-padding ul {
  margin-left: 20px;
}

/* img {
  max-inline-size: 100%;
  block-size: auto;
} */

.logo {
  position: relative;
  left: 1em;
  top: 5px;
  min-width: 1%;
  min-height: 1%;
}

.logo:hover {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  border-bottom: 3px solid rgba(255, 255, 255, 0.9);
  transition-duration: .9s;
  transform: scale(0.9);
}

.header-container img {
  height: 90px;
  max-width: 90px;
  cursor: pointer;
}

.header-div {
  color: rgba(255, 255, 255, 1.1);
  text-shadow: 0.1em 0.1em rgba(0, 0, 0, 1.1);
  padding: 2em;
}

.header-padding {
  padding: 60px;
  color: rgb(255, 255, 255, 1.1);
  text-shadow: 0.1em 0.1em rgba(0, 0, 0, 1.1);
}

.header-padding ul li {
  font-size: 1em;
  font-weight: 700;
}

.doc-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.doc-link p {
  text-align: center;
  font-size: 1em;
  font-weight: 500;
}

.doc-link p:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.4);
  transition-duration: 3s;
}

.doc-image {
  height: 80px;
  width: 80px;
}

.doc-image:hover {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  transition-duration: .9s;
  transform: scale(0.9);
}

.doc-text {
  text-shadow: 0.1em 0.1em rgba(0, 0, 0, 1.1);
}

.doc-text:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  transition-duration: .9s;
}

.img-perfil {
  border-radius: 50%;
  height: 190px;
  width: 190px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(0.25turn, #0007DB, #0CACF2, #0007DB, #0CACF2);
  gap: 10px;
}

.container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../assets/cloud.webp");
  background-size: 50% auto;
  background-repeat: repeat-x;
  flex-grow: 1;
  gap: 2em;
}

.apresentacao {
  font-size: 2em;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0.1em 0.1em rgba(0, 0, 0, 1.1);
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .cards .style-card {
    background-color: #1CCFEB;
  }
  
  .cards .card {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 250px;
    width: 200px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
  }
  
  .tip {
    font-size: 1em;
    font-weight: 700;
  }
  
  .second-text {
    font-size: .9em;
    font-weight: 500;
  }

  .tip:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 0.4);
    transition-duration: 3s;
  }
  
  .second-text:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 0.4);
    transition-duration: 3s;
  }

  .cards .card:hover {
    transform: scale(1.1, 1.1);
  }
  
  .cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }

.card img {
    border-radius: 50%;
    height: 90px;
    width: 90px;
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.1);
  }

.container-card-social {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 20px;
  margin-right: 20px;
}
  
.card-social {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
  
  /* for all social containers*/
  .socialContainer {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #000000;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .footer {
    background-color: transparent;
    background: linear-gradient(0.25turn,#0007DB, #0CACF2, #0007DB);
    text-align: center;
    padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.footer a {
  color: #000000;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
}

.footer a:hover {
  color: #ffffff;
  border-bottom: 3px solid rgba(255, 255, 255, 0.4);
}

.footer-links li a p {  
  font-size: 1.1em;
  font-weight: 700;
}

.footer p {
  padding-top: 0.5rem;
  font-size: 1.1em;
  font-weight: 700;
}